*{
    margin: 0;
    padding: 0;
}

body{
    color: #E5E5E5;
    height: 100vh;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%; /* 100% = 16px então 62.5% = 10px */
}

body, label, button{
    font: 400 1.8rem/1 'Inter', Helvetica, sans-serif; /* pega o tamanho da fonto no root || 1.8rem = 18px */;
}
