nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    background-color: #232325;
}

.container{
    width: min(90%, 119.1rem); /* se 90% for menor que 1191px, ele aplica 90%. Se 90% for maior que 1191px, ele aplica 1191px */
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li a img{
    height: clamp(2.5rem, 3rem, 4.3rem); /* min 3.5rem , ideal 4rem , max 4.3rem */
}

ul .centraliza{
    display: flex;
    align-items: center;
}

ul .centraliza #menu_nome p{
    font-weight: 400;
}

ul .centraliza #menu_icone{
    font-size: 3.5rem;
    font-weight: 400;
    padding: 0 2.8rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3px;
}

ul .centraliza #menu_sair h4 a{
    transition: 250ms;
}

ul .centraliza #menu_sair h4 a:hover{
    color: #0EA5E9;
}

a{
    text-decoration: none;
    color: #E5E5E5;
}

ul .centraliza .ph-user-circle-light::before{
    font-size: 3rem;
}

.hamburguer{
    display: none;
    cursor: pointer;
}


@media (max-width: 426px) {
    .hamburguer{
        display: block;
        font-size: 3rem;
    }

    ul .centraliza{
        position: absolute;
        left: -100%;
        top: 51px;
        gap: 0;
        flex-direction: column;
        background-color: #232325;
        width: 100%;
        text-align: center;
    }

    ul .centraliza.active{
        left: 0px;
    }

    ul .centraliza li{
        margin: 16px 0;
        display: block;
    }

    ul .centraliza #menu_icone{
        display: none;
    }
}