#page-view-reports {
  background: #111113;
  min-height: 100vh;
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  padding: 5rem 0;
}

.container .chamada {
  text-align: start;
  margin-bottom: 5rem;
  animation-delay: 100ms; /*atraso*/
}

.container .report-group {
  display: flex;
  flex-direction: column;
  gap: 14px;
  animation-delay: 150ms; /*atraso*/
}

.report-group .report {
  background: #232325;
  border-radius: 6px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* height: clamp(auto, 20vh, 22vh); */
  height: 30%;
  padding: 20px;
  box-sizing: border-box;
  text-align: start;
  margin-bottom: 20px;
}

/*
-----------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------
-------------------------------desktop version ------------------------------------------
-----------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------
*/

@media (min-width: 534px) and (max-width: 1023px) {
  main {
    min-height: calc(100vh - 5.3rem);
    padding: 5rem 0;
  }
}

@media (min-width: 1024px) {
  main{
    min-height: calc(100vh - 5.3rem);
    padding: 0 0;
  }
}
